@model Fusioness.Models.Eventos.EventoModel
@{
    ViewBag.Title = "Convites";
    Layout = "~/Views/Shared/LayoutBase.cshtml";
}

<!-- LINHA 1 -->
<div class="row-fluid">
  <!-- BLOCK -->
  <div class="span12">
    <div class="card">
      <h2 class="card-heading simple">Convites de Eventos</h2>
      <div class="card-body">
          <table class="table table-hover">
              <thead>
                  <th></th>
                  <th>Título</th>
                  <th>Data</th>
                  <th>Resposta</th>
                  <th></th>
              </thead>
              <tbody>
                @foreach (var item in Model.ListaEventos)
                {
                    var convite = Model.ListaConviteEventos.First(c => c.IdEvento == item.IdEvento);
                <tr>
                    <td>@item.IdEvento</td>
                    <td>@item.Titulo</td>
                    <td>@item.Data.ToString("dd/MM/yyyy")</td>
                    <td>
                        <p class="text-warning">@(Model.ListaConviteEventos.First(c => c.IdEvento == item.IdEvento).Resposta.Descricao)</p>
                    </td>
                    <td>
                        <div class="btn-group">
                        @foreach (var resposta in Model.RespostasPossiveis)
                        {
                            if (
                                (!convite.IdResposta.HasValue && resposta.IdResposta != 3) /*se não tiver resposta, não imprimirá na tela o botão 'talvez'*/
                                ||
                                (convite.IdResposta.HasValue && resposta.IdResposta != convite.IdResposta.Value) /*não imprimirá na tela o botão que tenha a mesma resposta já dada*/
                                )
                            {
                                @Html.ActionLink(
                                    resposta.Descricao, "ResponderConviteEvento", "Evento"
                                    , new {idEvento = item.IdEvento, idResposta = resposta.IdResposta}
                                    , new {@class = resposta.IdResposta == 1 ? "btn btn-danger" : (resposta.IdResposta == 2 ? "btn btn-success" : "btn btn-warning"),onclick = "ExibirCarregando()"}
                                    )
                            }
                            
                        }
                        </div>
                    </td>
                </tr>
                }
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <!-- END BLOCK -->
</div><!-- END LINHA 1 -->
