@model Fusioness.Models.Eventos.EventoModel
@{
  ViewBag.Title = "Eventos";
  Layout = "~/Views/Shared/LayoutBase.cshtml";
}
<!-- LINHA 1 -->
<div class="row-fluid">
  <!-- BLOCK -->
  <div class="span12">
    <div class="card">
      <h2 class="card-heading simple">Lista de Eventos</h2>
      <div class="card-body" style="overflow:hidden">
            @foreach (var item in Model.ListaEventos)
            {
                <ul class="thumbnails" style="float:left;width:350px;height:450px;">
                    <li style="width:100%;height:100%;">
                        <div class="thumbnail" style="margin:5px;height:100%">
                            <img src="@item.UrlImagem" alt="Imagem do Evento" width="auto" height="270">
                            <h3>@item.Titulo</h3>
                            <p>@(item.Descricao.Count() > 250 ? @item.Descricao.Substring(0, 250) + "..." : @item.Descricao)</p>
                            <p>
                                <div class="btn-group">
                                @Html.ActionLink("Detalhes", "Detalhar", "Evento", new { idEvento = item.IdEvento}, new { @class = "btn btn-primary" })
                                    @if (Model.SouDonoDoEvento(item.IdEvento))
                                    {
                                        <!--<a href="#divExclusao" class="btn btn-danger" data-toggle="modal">Excluir Evento</a>-->
                                        @Html.ActionLink("Excluir", "ExcluirEvento", "Evento", new {idEvento = item.IdEvento}, new {@class = "btn btn-danger"})
                                    }    
                                </div>
                            </p>
                        </div>
                    </li>
                </ul>
            }
      </div>
    </div>
  </div>
  <!-- END BLOCK -->
</div><!-- END LINHA 2 -->

<!-- LINHA 2 -->
<div class="row-fluid"><//div>
  
  <!-- BLOCK -->

  
  
