@model Fusioness.Models.Usuarios.UsuarioModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutBase.cshtml";
}
<script type="text/javascript">
    function ExibirModalMudarImagem() {
        $("#modalEditarImagem").modal('show');
    }
</script>
<!-- LINHA 1 -->
<div class="row-fluid">
    <!-- BLOCK -->
    <div class="span12">
        <div class="card">
            <h2 class="card-heading simple">
                @if (Model.Usuario.IdUsuario == 0)
                {
                    <span>Cadastre-se!</span>
                }
                else
                {
                    <span>Edite seu perfil</span>
                }
            </h2>
            <div class="card-body">

                
                
                @using (Html.BeginForm("InserirAlterarUsuario", "Usuario", FormMethod.Post))
                {
                    <ul style="list-style:none;">
                        <li>
                            @Html.LabelFor(m => m.Usuario.Nome)
                            @Html.TextBoxFor(m => m.Usuario.Nome)
                            @Html.ValidationMessage("Nome", new { style = "margin-left:10px" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Usuario.Login)
                            @Html.TextBoxFor(m => m.Usuario.Login) 
                            @Html.ValidationMessage("Login", new { style = "margin-left:10px" })
                            
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Usuario.Senha)
                            @Html.PasswordFor(m => m.Usuario.Senha) 
                            @Html.ValidationMessage("Senha", new { style = "margin-left:10px" })
                        </li>
                        <li>
                            @*@Html.LabelFor(m => m.NovaSenha )*@<label>Nova senha</label>
                            @Html.PasswordFor(m => m.NovaSenha)
                            @Html.ValidationMessage("NovaSenha", new { style = "margin-left:10px" })
                        </li>
                        <li>
                            @*@Html.LabelFor(m => m.NovaSenhaRpt)*@<label>Repita Nova senha</label>
                            @Html.PasswordFor(m => m.NovaSenhaRpt) 
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Usuario.Email)
                            @Html.TextBoxFor(m => m.Usuario.Email) 
                            @Html.ValidationMessage("Email", new { style = "margin-left:10px" })
                        </li>
                        <li>
                            <label for="Usuario_DataDeNascimento">Data De Nascimento</label>
                            @*Html.LabelFor(m => m.Usuario.DataDeNascimento)*@
                            @if (Model.Usuario.IdUsuario > 0) 
                            {
                                @Html.TextBoxFor(m => m.Usuario.DataDeNascimento, new { Value = Model.Usuario.DataDeNascimento.ToString("dd/MM/yyyy"), @class = "datepicker"})
                            } else {
                                @Html.TextBoxFor(m => m.Usuario.DataDeNascimento, new { Value = "", @class = "datepicker"})
                            }
                            @Html.ValidationMessage("Idade", new { style = "margin-left:10px" })
                        </li>
                        <li>

                            @Html.LabelFor(m => m.Usuario.Sexo)
                            @Html.DropDownListFor(m => m.Usuario.Sexo, Model.Sexos, "Selecione o sexo")
                            @Html.ValidationMessage("Sexo", new { style = "margin-left:10px" })                                                        
                            
                        </li>
                    </ul>
                    <br />
                    @Html.HiddenFor(m => m.Usuario.IdUsuario)
                    @Html.HiddenFor(m => m.Usuario.UrlImagem)
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <!-- <a class="btn" href="/Acesso">Voltar</a> -->                                                        
                }
                
            </div>

            
        </div>
    </div>
    <!-- END BLOCK -->
</div>
<!-- END LINHA 2 -->
<!-- FOTO -->
<!-- @*Fusioness.Controllers.BaseController.ObterImagemUsuarioLogado(Request.RequestContext.HttpContext)*@ -->
<!--  
    @if (Model.Usuario.IdUsuario > 0)
                {
                   
                    <div class="span12 pull-left" style="width:150px; height:150px; overflow:hidden;">
                        
                        <img src="http://lorempixel.com/100/100/people/1/" alt="[foto perfil]" title="Clique para editar" style="cursor:pointer;" onclick="ExibirModalMudarImagem();"/>
                    </div>
                }
    <div id="modalEditarImagem" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    @using (Html.BeginForm("EnviarImagem", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Selecione a imagem</h3>
    </div>
    <div class="modal-body">
        <p>
            <input type="file" id="image" name="image" />
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" type="submit">Save changes</button>
    </div>
    }
</div>
-->