@model Fusioness.Models.Contatos.ContatoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutBase.cshtml";
}

<style>
    
    .card.people {
        width: 196px;
    }
    .card.people:first-child {
        margin-left: 20px;
    }
    .card.people .card-top {            
        width: 194px;
    }
    img {
        min-width: 150px;
        min-height: 194px;
    }
    .search {
        margin-left: 20px;
    }
</style>
<script type="text/javascript">

    function VerPerfilUsuario(idusuario) {
        window.location = '/Usuario/VerPerfilUsuario?IdUsuario=' + idusuario;
    }
    function FiltrarPorNome() {
        var key = $('#txtBusca').val();        

        $('.card .people').each(function () {
             if (key !== null || key.trim() !== '') {
                var lbl = $(this).find('#lblNomeDoUsuario').first();
                if (!($(lbl).text().toLowerCase().indexOf(key.toLowerCase()) >= 0)) {
                    $(this).css('display', 'none');                    
                }
                else {
                    $(this).css('display', 'inline-block');
                }
            }
            else {
                $(this).css('display', 'inline-block');
            }
        });
        
        
    }
</script>

<div class="row-fluid">
  <!-- BLOCK -->
  <div class="span12">
    <div class="card">
      <h2 class="card-heading simple">@ViewBag.Titulo</h2>
               
      <!-- <div class="searchbox" style="padding:5px;">
          <input id="txtBusca" type="text" name="busca" placeholder="filtre por nome" onchange="FiltrarPorNome();">
          <img src="/Content/images/search_lens.png" style="width:16px;" onclick="FiltrarPorNome();"/>
      </div> -->

      <div class="card-body" style="overflow:hidden">
            
          @if (Model.ListaDeAmigos != null && Model.ListaDeAmigos.Count == 0)
          {
              <h2 class="card-heading simple">Nada encontrado aqui... Tem certeza que tem amigos cadastrados em sua rede? Adicione-os!!</h2>
          }else
          {
              <div class="search">
                  <input id="txtBusca" type="text" class="input-xlarge" name="busca" placeholder="Filtre Por Nome" onkeyup="FiltrarPorNome();">
              </div>
          }

            @foreach (var usuario in Model.ListaDeUsuarios)
            {

                <div class="card people">
                   <div class="card-top blue">
                      <a href="javascript:void(0);">
                         <img src="@String.Format("{0}{1}", Fusioness.Controllers.BaseController.ObterUrlBaseAvatar(), usuario.UrlImagem)" alt="[usuario não possui foto]"/>
                      </a>
                   </div>
                   <div class="card-info">
                      <a class="title" id="lblNomeDoUsuario" href="/Usuario/VerPerfilUsuario?IdUsuario=@usuario.IdUsuario">@usuario.Nome</a>
                      <div class="desc">
                          <label><b>E-mail:</b> @usuario.Email</label>
                          @if (usuario.Sexo.Equals("M"))
                          { <label><b>Sexo: </b> Masculino</label> }
                          else
                          { <label><b>Sexo: </b> Feminino</label> }
                      </div>
                   </div>
                   <div class="card-bottom">
                      <button class="btn btn-block" onclick="VerPerfilUsuario(@usuario.IdUsuario);">Ver Perfil</button>
                   </div>
                </div>                
 
            }
          
      </div>
    </div>
  </div>
  <!-- END BLOCK -->
</div><!-- END LINHA 2 -->

<!-- LINHA 2 -->
<div class="row-fluid"></div>
  
  <!-- BLOCK -->
