@model Fusioness.Models.Usuarios.IndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutBase.cshtml";
}

<h2>@(TempData["MSG"] == null ? "Index" : TempData["MSG"])</h2>
@using (Html.BeginForm("InsertUsuario", "Usuario", FormMethod.Post))
{
    @Html.LabelFor(m => m.usuario.Nome)
    @Html.TextBoxFor(m => m.usuario.Nome)
    <br />
    @Html.LabelFor(m => m.usuario.Login)
    @Html.TextBoxFor(m => m.usuario.Login)
    <br />
    @Html.LabelFor(m => m.usuario.Senha)
    @Html.PasswordFor(m => m.usuario.Senha)
    <br />
    @Html.LabelFor(m => m.usuario.Email)
    @Html.TextBoxFor(m => m.usuario.Email)
    <br />
    @Html.LabelFor(m => m.usuario.Idade)
    @Html.TextBoxFor(m => m.usuario.Idade)
    <br />
    @Html.LabelFor(m => m.usuario.Sexo)
    @Html.TextBoxFor(m => m.usuario.Sexo)
    <br />
    @Html.LabelFor(m => m.usuario.UrlImagem)
    @Html.TextBoxFor(m => m.usuario.UrlImagem)
    <br />
    <input type="submit" value="Send" />
}