@model Fusioness.Models.Usuarios.UsuarioModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutBase.cshtml";
}
<!-- LINHA 1 -->
<div class="row-fluid">
    <!-- BLOCK -->
    <div class="span12">
        <div class="card">
            <h2 class="card-heading simple">Cadastre-se!</h2>
            <div class="card-body">
                
                @using (Html.BeginForm("InserirAlterarUsuario", "Usuario", FormMethod.Post))
                {
                    <ul style="list-style:none;">
                        <li>
                            @Html.LabelFor(m => m.Usuario.Nome)
                            @Html.TextBoxFor(m => m.Usuario.Nome)
                            @Html.ValidationMessage("Nome", new { style = "margin-left:10px" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Usuario.Login)
                            @Html.TextBoxFor(m => m.Usuario.Login) 
                            @Html.ValidationMessage("Login", new { style = "margin-left:10px" })
                            
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Usuario.Senha)
                            @Html.PasswordFor(m => m.Usuario.Senha) 
                            @Html.ValidationMessage("Senha", new { style = "margin-left:10px" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Usuario.Email)
                            @Html.TextBoxFor(m => m.Usuario.Email) 
                            @Html.ValidationMessage("Email", new { style = "margin-left:10px" })
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Usuario.Idade)
                            @Html.TextBoxFor(m => m.Usuario.Idade)
                            @Html.ValidationMessage("Idade", new { style = "margin-left:10px" })
                        </li>
                        <li>

                            @Html.LabelFor(m => m.Usuario.Sexo)
                            @Html.DropDownListFor(m => m.Usuario.Sexo, Model.Sexos, "Selecione o sexo")
                            @Html.ValidationMessage("Sexo", new { style = "margin-left:10px" })                                                        
                            
                        </li>
                    </ul>
                    <br />
                    @Html.HiddenFor(m => m.Usuario.IdUsuario)
                    @Html.HiddenFor(m => m.Usuario.UrlImagem)
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <!-- <a class="btn" href="/Acesso">Voltar</a> -->                                     
                    
                }
            </div>
        </div>
    </div>
    <!-- END BLOCK -->
</div>
<!-- END LINHA 2 -->