@model Fusioness.Models.Usuarios.UsuarioModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutBase.cshtml";
}
<style>
    .btn-friend {
        width: 149px;
    }
</style>
<script>

</script>
<div class="row-fluid">
    @using (Html.BeginForm("Perfil", "Usuario", FormMethod.Post))
    {
            @Html.HiddenFor(m => m.Usuario.IdUsuario)
            <div class="span12">
                <div class="card">
                    <h2 class="card-heading simple">@Model.Usuario.Nome</h2>

                    <div style="height: 500px;" class="card-body">
                        <table>
                            <tr>
                                <td>
                                    <img src="@String.Format("{0}{1}", Fusioness.Controllers.BaseController.ObterUrlBaseAvatar(), Model.Usuario.UrlImagem)" alt="[usuario não possui foto]" title="Ver perfil de @Model.Usuario.Nome" style="height: 150px;width: 167px;"/>
                                </td>
                                <td>
                                    <ul style="list-style: none;">
                                        <li>
                                            <label><b>E-mail:</b> @Model.Usuario.Email</label>
                                        </li>
                                        <li>
                                            <label><b>Idade:</b> @Model.IdadeUsuario</label>
                                        </li>
                                        <li>
                                            <label><b>Sexo:</b> @Model.SexoUsuario</label>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @if (Model.IsMyself)
                                    {
                                        <!-- <span>Você é visto assim! :)</span>-->
                                        @Html.ActionLink("Editar Perfil", "InserirAlterarUsuario", "Usuario", new { @class = "btn btn-primary btn-friend" })
                                    }
                                    else
                                    {
                                        if (Model.IsContato)
                                        {                                            
                                            @Html.ActionLink("Desfazer amizade", "AdicionarRemoverContato", "Contato", new { IdContato=@Model.Usuario.IdUsuario, IsAdd=false}, new { @class = "btn btn-danger btn-friend" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Adicionar como amigo", "AdicionarRemoverContato", "Contato", new { IdContato=@Model.Usuario.IdUsuario, IsAdd=true}, new { @class = "btn btn-primary btn-friend" })
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
    }

</div>