@model Fusioness.Models.Usuarios.UsuarioModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutBase.cshtml";
}

<div class="row-fluid">
    @using (Html.BeginForm("Perfil", "Usuario", FormMethod.Post))
    {
            @Html.HiddenFor(m => m.Usuario.IdUsuario)
            <div class="span12">
                <div class="card">
                    <h2 class="card-heading simple">@Model.Usuario.Nome</h2>

                    <div style="height: 500px;" class="card-body">
                        <table>
                            <tr>
                                <td>
                                    <img src="@String.Format("{0}{1}", Fusioness.Controllers.BaseController.ObterUrlBaseAvatar(), Model.Usuario.UrlImagem)" alt="[usuario não possui foto]" title="Ver perfil de @Model.Usuario.Nome" style="height:150px;width:150px;"/>
                                </td>
                                <td>
                                    <ul style="list-style: none;">
                                        <li>
                                            <label><b>E-mail:</b> @Model.Usuario.Email</label>
                                        </li>
                                        <li>
                                            <label><b>Idade:</b> @Model.IdadeUsuario</label>
                                        </li>
                                        <li>
                                            <label><b>Sexo:</b> @Model.Usuario.Sexo</label>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @if (Model.IsMyself)
                                    {
                                        <label>você é visto assim! :)</label>
                                    }
                                    else
                                    {
                                        if (Model.IsContato)
                                        {
                                            @Html.ActionLink("Del", "AdicionarRemoverContato", "Contato", new { IdContato=@Model.Usuario.IdUsuario, IsAdd=false}, new { @class = "btn btn-danger" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Add", "AdicionarRemoverContato", "Contato", new { IdContato=@Model.Usuario.IdUsuario, IsAdd=true}, new { @class = "btn btn-primary" })
                                        }
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
    }